<div class="row hero-product">
  <div class="col-md-12 hero-copy">
    <h1>Explore avilable products through Gelato's global network</h1>
    <h2>Pick a product and get it delivered straight to your company's front door</h2>
    Select category
    
  </div>
  <div class="arrow">
      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
  </div>
</div>
<hr class="space"/>
<div class="row">
  <div class="col-md-4 product-type">
      <a routerLink="brochures">
        <div class="thumbnail">
          <img src="http://lorempixel.com/200/200/sports/1" alt="">
          <div class="caption">
            Brochures, booklets, magazines
          </div>
        </div>
      </a>
  </div>
  <div class="col-md-4 product-type">
      <a routerLink="/brochures">
        <div class="thumbnail">
          <img src="http://lorempixel.com/200/200/sports/2" alt="">
          <div class="caption">
            Posters
          </div>
        </div>
      </a>
  </div>
  <div class="col-md-4 product-type">
      <a routerLink="/brochures">
        <div class="thumbnail">
          <img src="http://lorempixel.com/200/200/sports/3" alt="">
          <div class="caption">
            Flyers, cards and letterhead
          </div>
        </div>
      </a>
  </div>
</div>
